* {
    font-family: "Kalam", cursive;
    margin: 0;
    padding: 0;
    color: #fff;
}

:root {
    --primary: #242424;
    --secondary: rgb(49, 49, 49);
    --accent: #a0a0a0;
    --active: #ffdea0;
    --selected: rgb(141, 184, 255);
    --invalid: rgb(255, 118, 118);
    --gray: #E5E7EB;
}

input {
    color: #000;
}

main {
    display: flex;
    min-height: 100vh;
    min-height: 100dvh;
}

.left-container {
    display: flex;
    flex-direction: column;
    background-image: url(../images/arya-winarto-9XwrSmTNuuA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


    width: 40%;
}

.logo {
    width: 100%;
    height: 10rem;

    background-color: rgba(50, 50, 50, 50%);
    margin: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    font-family: "Kalnia", serif;
    font-size: 3rem;
    margin-left: 10px;
}

.credit {
    align-self: flex-end;
    margin: 10px auto;
}


.right-container {
    display: flex;
    flex-direction: column;
    background: var(--primary);
    width: 60%;
}

.right-container .text {
    width: auto;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
    font-size: 1.2rem;
}

.right-container .text {
    margin-left: 1rem;
    margin-top: 2rem;
}

.right-container p {
    margin-left: 2rem;
}

form {
    display: flex;
    flex-flow: column wrap;
    margin: 3rem;
}

button {
    background-color: var(--accent);
    color: var(--primary);
    font-weight: bold;
    border: none;
    padding: 0.6rem;
    border-radius: 5px;
    margin: 2rem;
    width: fit-content;
}

button:hover {
    background-color: var(--active);
    cursor: pointer;
}

form section .input-box {
    display: flex;
    flex-direction: column;
}

form section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.form-container {
    background-color: var(--secondary);
}

input {
    margin-top: 3px;
    border: none;
    border: 1px solid var(--gray);
    padding: 0.3rem;
    border-radius: 5px;
}

input:invalid {
    border-color: var(--invalid);
}