* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

:root {
    --primary: rgb(36, 36, 36);
    --secondary: rgb(49, 49, 49);
    --accent: rgb(160, 160, 160);
    --active: rgb(255, 222, 160);
    --selected: rgb(141, 184, 255);
    --invalid: rgb(255, 118, 118);
    --gray: rgb(229, 231, 235);
}

body {
    background-color: var(--primary);
}

main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-height: 100dvh;
}

.left-container {
    display: flex;
    flex-direction: column;
    background-image: url(../images/arya-winarto-9XwrSmTNuuA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


    width: 40%;
}

.logo {
    width: 100%;
    height: 10rem;

    background-color: rgba(50, 50, 50, 50%);
    margin: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    font-family: "Kalnia", serif;
    font-size: 3rem;
    margin-left: 10px;
}

.credit {
    align-self: flex-end;
    margin: 10px auto;
}

.credit p {
    font-family: "Kalam", cursive;
}

a {
    font-family: "Kalam", cursive;
}

a:hover {
    color: var(--active);
}


.right-container {
    display: flex;
    flex-direction: column;
    background: var(--primary);
    width: 60%;
}

.right-container .text {
    width: auto;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
    font-size: 1.2rem;
}

.right-container .text {
    margin-left: 1rem;
    margin-top: 2rem;
}

.right-container p {
    margin-left: 2rem;
}

form {
    display: flex;
    flex-flow: column wrap;
}

button {
    background-color: var(--accent);
    color: var(--primary);
    font-weight: bold;
    border: none;
    padding: 0.6rem;
    border-radius: 5px;
    margin: 2rem;
    width: fit-content;
}

button:hover {
    background-color: var(--active);
    cursor: pointer;
}

form section .input-box {
    display: flex;
    flex-direction: column;
}

form section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 1rem;
}

.form-container {
    background-color: var(--secondary);
    padding: 3rem 0;
}

.input-box {
    position: relative;
    margin: 0 2rem;
}

#error {
    font-size: .8rem;
    margin-top: 5px;
    color: var(--invalid);
}

.form-container p {
    text-align: center;
    font-size: .7rem;
}

input {
    color: #000;
    margin-top: 3px;
    border: none;
    border: 1px solid var(--gray);
    padding: 0.3rem;
    border-radius: 5px;
}

input:invalid {
    border-color: var(--invalid);
}

input:focus {
    outline: none;
    border-color: var(--selected);
}


@media screen and (min-width: 1250px) {
    .logo h1 {
        font-size: 4.2rem;
    }

    .logo img {
        width: 70px;
    }

    form {
        margin: 0 auto
    }

    input {
        min-width: 20rem;
        max-width: 25rem;
    }
}


@media screen and (max-width: 860px) {
    main {
        flex-direction: column;
    }

    .right-container, .left-container {
        width: 100%;
    }

    .logo {
        background: none;
    }

    .logo h1 {
        font-size: 4rem;
    }

    .create-account {
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 500px) {
    main {
        height: 100svh;
    }

    form section {
        flex-flow: wrap;
    }

    .input-box {
        margin-top: 15px;
    }

    input {
        width: 17rem;
    }
}